* {
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: magenta !important;
}

.div1 {
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  background-color: yellow;
}

.div2 {
  border: 2px solid pink;
  padding: 10px;
  margin: 10px;
  background-color: brown;
}

#para1 {
  color: red;
  font-weight: bold;
}
#para2 {
  color: blue;
  font-weight: bold;
}
#para3 {
  color: green;
  font-weight: bold;
}

/* h1 {
  color: aqua;
}
/* p {
  color: aqua;
} */

/* h1,
p,
div {
  color: aqua;
} */

span > b {
  color: blueviolet;
}

input[type="text"] {
  background-color: pink;
}
input[type="password"] {
  background-color: bisque;
}

/* div p {
 background-color: rgba(0, 0, 0, 0.501);
} */

body {
  background-image: url("https://cdn.britannica.com/35/238335-050-2CB2EB8A/Lionel-Messi-Argentina-Netherlands-World-Cup-Qatar-2022.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
